*{box-sizing: border-box;}

.header {
    padding: 20px 0;
    width: 100%;
    background-color:  #558A78;
    border: 3px solid #614433;
}

.header .container {
    padding-bottom: 15px;
}
.col-md-3 h1 {
    margin-bottom: 20px;
}

.top-nav .nav-link {
    /* margin-left: 40px; */
    color: black;
    /* text-decoration: underline; */
    /* font-weight: 500; */
    box-shadow: 2px 1px 2px 1px;
    background-color: rgb(175, 172, 172);
}

.top-nav-link {
    /* color: rebeccapurple; */
}

.section {
    padding: 40px 0;
}

#section1 {
    background-color: #853512;
    border: 8px solid darkgoldenrod;
}

#section1 img {
    border: 2px solid black;
}

#section2 {
    background-color: #614433;
    border: 4px solid #853512;
}


#section2 h2 {
    text-align: center;
    font-weight: 450;
    color: whitesmoke;
}

.my-fig img {
    border: 4px solid black;
}

#section3 {
    background-color: darkgoldenrod;
    border: 10px solid #4A834C;
}

.col-lg-6 h2 {
    font-weight: 400;
}

.col-lg-6 img {
    border: 2px solid black;
}

#section4 {
    background-color: #853512;
    border: 4px solid #614433;
}

.section4-text {
    color: black;
    font-weight: 800;
}

.footer {
    background-color: #558A78;
}

.colophon {
    padding-top: 15px;
    color: whitesmoke;
}

.nav-item .nav-link {
    color: whitesmoke;
}